@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        font-family: 'Patrick Hand', cursive;
    }
}

.header-container {
background-image: url(./assets/image-11.webp);
   height: 100vh;;
   margin: auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
